<br>
<br>
<br>
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Servicios</h2>
        <p>En Dentlab queremos verte feliz, por ello contamos con diferentes tratamientos que se adaptan perfecto a tus necesidades, estilo de vida y presupuesto.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="icofont-heart-beat"></i></div>
            <h4><a href="">Ortodoncia</a></h4>
            <p>La ortodoncia te ayuda a corregir los dientes y te da la seguridad de lucir una dentadura perfecta.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="icofont-drug"></i></div>
            <h4><a href="">Limpieza Dental</a></h4>
            <p>Para mantener el estado de salud general de tu boca, nuestros especialistas recomiendan realizarte una limpieza dental cada 6 meses.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="icofont-dna-alt-2"></i></div>
            <h4><a href="">Resina Dental</a></h4>
            <p>Una resina dental es la solución ideal para reparar piezas dentales dañadas por caries y otros problemas, y recuperar una dentadura sana.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="icofont-heartbeat"></i></div>
            <h4><a href="">Endodoncia</a></h4>
            <p>Una endodoncia es una alternativa que te permite salvar tu diente de una extracción.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="icofont-disabled"></i></div>
            <h4><a href="">Coronas Dentales</a></h4>
            <p>Las coronas dentales tienen utilidades estéticas y funcionales para brindar fuerza a tus dientes.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="icofont-autism"></i></div>
            <h4><a href="">Implantes Dentales</a></h4>
            <p>Los implantes dentales son lo más cercano a un diente natural, por lo que volverás a sonreír con confianza.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->