input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  border: none;
  height: auto;
  margin: auto;
  outline: 0;
  padding: 8px;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

form {
    margin: 10px auto !important;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  .Modal{
      height: 100%;
  }