<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a [routerLink]="['Home']">Medilab</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul id="listaBotones">
          <li id="gH" class="active"><a [routerLink]="['Home']">Home</a></li>
          <li id="gA"><a [routerLink]="['About']">About</a></li>
          <li id="gS"><a [routerLink]="['Services']">Services</a></li>
          <li id="gD"><a [routerLink]="['Dentists']">Dentists</a></li>
          <li id="gG"><a [routerLink]="['Gallery']">Gallery</a></li>
          <li id="gF"><a [routerLink]="['FAQ']">FAQ</a></li>
          <li id="gC"><a [routerLink]="['Contact']">Contact</a></li>
        
        </ul>
      </nav><!-- .nav-menu -->
      <a *ngIf="isLoggedIn" [routerLink]="['Appointment']" class="appointment-btn" style="color:white">Make an Appointment</a>
      <a *ngIf="isLoggedIn"  (click)="logout()" class="appointment-btn">Cerrar sesión</a>
      <a *ngIf="!isLoggedIn"  [routerLink]="['login']" class="appointment-btn">Iniciar sesión</a>
      

    </div>
  </header><!-- End Header -->