<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Formato de Registro</h4>
    <form [formGroup]="forma" (submit)="createUser()" >
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
        </div>
        <input formControlName="Name" name="" class="form-control" placeholder="Nombre" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faUserCircle"></fa-icon>
          </span>
        </div>
        <input formControlName="Last_name" name="" class="form-control" placeholder="Apellidos" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </span>
        </div>
        <input formControlName="Email" name="" class="form-control" placeholder="Correo Electrónico" type="email">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faPhone"></fa-icon>
          </span>
        </div>
        <input formControlName="Phone_number" name="" class="form-control" placeholder="Número Telefónico" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faCalendar"></fa-icon>
          </span>
        </div>
        <input formControlName="Birth_date" type="date" name="date" class="form-control" id="date" placeholder="Fecha de Nacimineto" data-rule="minlen:4" data-msg="Ingrese al menos 4 caractéres">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faWallet"></fa-icon>
          </span>
        </div>
        <input formControlName="RFC" name="" class="form-control" placeholder="RFC" type="text">
      </div> <!-- form-group end.// -->
      <p *ngIf="forma.errors && forma.errors.errRFC">Formato de RFC incorrecto</p>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
        </div>
        <input formControlName="Password" class="form-control" placeholder="Contraseña" type="password">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
        </div>
        <input formControlName="ConfirmPassword" class="form-control" placeholder="Repetir Contraseña" type="password">
      </div> <!-- form-group// -->
      <p *ngIf="forma.errors && forma.errors.mismatch">Las contraseñas no coinciden</p>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Crear cuenta </button>
      </div> <!-- form-group// -->
      <p class="text-center">¿Ya tienes una cuenta? <a [routerLink]="['../login']">Ingresar</a> </p>
    </form>
  </article>
</div> <!-- card.// -->
