<br>
<br>
<br>
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Preguntas frecuentes</h2>
        <p>Tal vez tienes o has tenido alguna duda sobre tu cita o tratamiento, o sobre los costos; por ello nos dimos a la tarea de crear esta sección y resolverlas todas de una manera sencilla.</p>
      </div>

      <div class="faq-list">
        <ul>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-1" class="collapsed">¿Cómo puedo facturar? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                Para facturación en clínicas dentalia®, sólo es necesario presentar tus datos fiscales. Recuerda que cuentas con 30 días naturales para facturar un recibo. Si pagas anticipadamente, no olvides facturar tu recibo de pago anticipado.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">¿Por qué Dentlab se queda con mi expediente? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                De acuerdo con la Norma Oficial Mexicana NOM-004-SSA3-2012, del expediente clínico, tu expediente médico será resguardado por dentalia®. En caso de que requieras un reporte médico puedes solicitarlo directamente con el Coordinador de tu clínica.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">¿Qué métodos de pago aceptamos? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                En todas nuestras clínicas dentalia® puedes pagar en efectivo y con cualquier tarjeta de débito ó crédito Visa, MasterCard o American Express. No aceptamos cheques. Cualquier cancelación de algún tratamiento dental pagado con tarjeta de crédito a MSI, te generará una comisión con el banco.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->