  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Bienvenido a Dentlab</h1>
      <h2>Contamos con los especialistas más capacitados para cuidar tu salud dental</h2>
      <a [routerLink]="['../register']" class="btn-get-started scrollto">Registrate</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>¿Por qué escoger Dentlab?</h3>
              <p>
                Atendemos todas las especialidades odontológicas: ortodoncia, endodoncia, odontopediatría. También contamos con diferentes tratamientos que se adaptan perfecto a tus necesidades, estilo de vida y presupuesto.
              </p>
              <div class="text-center">
                <a [routerLink]="['../About']" class="more-btn">Conocer más <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Nos encargamos de tu salud dental</h4>
                    <p>Contamos con los mejores especialista para cada uno de los miembros de tu familia y 12 años de experiencia.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Conveniencia</h4>
                    <p>Agenda tu cita en alguna de nuestras más de 11 clínicas ubicadas en los mejores centros comerciales a nivel nacional.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Garantía</h4>
                    <p>Confiamos en nuestro trabajo, por ello tenemos garantías sobre nuestros tratamientos.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->