<br>
<br>
<br>
<br>
<br>
<!-- ======= Appointment Section ======= -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section id="appointment" class="appointment section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Hacer una cita</h2>
      <p>Promovemos el uso de nuestros planes a través de campañas digitales y presenciales</p>
      <p>Nuestros especialistas recomiendan realizarte una limpieza dental cada 6 meses para mantener el estado de salud general de tu boca.</p>
    </div>

    <form (submit)="sendAppointment()" [formGroup]="form" role="form" class="php-email-form">
      <div class="form-row">
        <div class="col-md-4 form-group"> <!-- form-group// -->
          <input type="text" name="name" class="form-control" id="name"
            placeholder="{{patient.Name}} {{patient.Last_name}}" data-rule="minlen:4" disabled>
          <div class="validate"></div>
        </div><!-- form-group end.// -->
        <div class="col-md-4 form-group"><!-- form-group// -->
          <input type="email" class="form-control" name="email"  placeholder="{{patient.Email}}"
            data-rule="email" disabled>
          <div class="validate"></div>
        </div><!-- form-group end.// -->
        <div class="col-md-4 form-group"><!-- form-group// -->
          <input type="tel" class="form-control" name="phone" id="phone" placeholder="{{patient.Phone_number}}"
            data-rule="minlen:4" disabled>
          <div class="validate"></div>
        </div><!-- form-group end.// -->
      </div>
      <div class="form-row">
        <div class="col-md-4 form-group"><!-- form-group// -->
          <input  (change)="changeHour()" formControlName="Date" type="date" name="somedate" class="form-control" id="date"
            placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div><!-- form-group end.// -->
        <div class="col-md-4 form-group"><!-- form-group// -->
          <select (change)="changeHour()" formControlName="Dentist_ID" name="doctor" id="doctor" class="form-control">
            <option [ngValue]="null" disabled>Selecciona un dentista</option>
            <option *ngFor="let item of dentists" value="{{item._id}}">{{item.Name}} {{item.Last_name}}</option>
          </select>
          <div class="validate"></div>
        </div><!-- form-group end.// -->
        <div class="col-md-4 form-group"><!-- form-group// -->
          <select formControlName="Hour" id="hour" class="form-control">
            <option [ngValue]="null" disabled>Selecciona un horario</option>
            <option *ngFor="let item of hour" value="{{item}}">{{item}}</option>
          </select>
          <div class="validate"></div>
        </div><!-- form-group end.// -->
      </div>

      <div class="form-group"><!-- form-group// -->
        <textarea formControlName="Cause" class="form-control" name="message" rows="5"
          placeholder="Inserte aquí el motivo, trate de ser lo más descriptivo posible"></textarea>
        <div class="validate"></div>
      </div><!-- form-group end.// -->
      <div class="text-center" ><button type="submit" [disabled]="form.invalid">Hacer cita</button></div>
    </form>

  </div>
</section><!-- End Appointment Section -->
