<br>
<br>
<br>
<br>
<br>
<br>
<div class ="container">
  <h1>¡Buen día {{patients.Name}}!</h1>
  <div class="col-md-4 form-group"><!-- form-group// -->
    <input  [(ngModel)]= "month" (change)="changeMonth()" type="month" name="somedate" class="form-control" id="date"
      placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars"> Selecciona el mes de tu citas
    <div class="validate"></div>
  </div><!-- form-group end.// -->
</div>



<section  class="doctors">
  <div class="container">
    <div class="row">
      <div *ngFor="let item of appointDentist" class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <h4><b>Dentista:</b>  {{item.Dentist}} {{item.DentistLN}}</h4>
            <span><b>Paciente:</b> {{item.Patient}} {{item.PatientLN}}</span>
            <p><b>Causa:</b> {{item.Cause}}</p>
            <p> <b>Fecha:</b> {{item.Date}}-{{item.Hour}}</p>
            <p *ngIf="item.Description != '' "> <b>Notas:</b>  {{item.Description}}</p>
            <p *ngIf="item.Amount!=0"> <b>Costo:</b> {{item.Amount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
