<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container">
  <h1>¡Buen día {{dentists.Name}}!</h1>
  <div>
    <label class="radio-inline"><input [(ngModel)]="selector" type="radio" name="optradio" [value]="2" checked> Sin
      busqueda por calendario&nbsp;&nbsp;</label>
    <label class="radio-inline"><input [(ngModel)]="selector" type="radio" name="optradio" [value]="0">Buscar por mes
      &nbsp;&nbsp;</label>
    <label class="radio-inline"><input [(ngModel)]="selector" type="radio" name="optradio" [value]="1"> Buscar por
      día&nbsp;&nbsp;</label>
    <label class="radio-inline"><input [(ngModel)]="patientS" type="checkbox" name="optradio"> Buscar por
      paciente</label>
  </div>

  <div class="form-row">
    <div *ngIf="patientS==true" class="col-md-4 form-group">
      <!-- form-group// -->
      <input [(ngModel)]="Name" type="text" name="someuser" class="form-control" placeholder="Nombre(s)">
      <div class="validate"></div>
    </div><!-- form-group end.// -->
    <div *ngIf="patientS==true" class="col-md-4 form-group">
      <!-- form-group// -->
      <input [(ngModel)]="Last_name" type="text" name="someuserLN" class="form-control" placeholder="Apellidos">
      <div class="validate"></div>
    </div><!-- form-group end.// -->
    <div *ngIf="selector=='0'" class="col-md-4 form-group">
      <!-- form-group// -->
      <input [(ngModel)]="month" type="month" name="somedate" class="form-control" id="date"
        placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars"> Selecciona el mes
      de tu citas
    </div><!-- form-group end.// -->
    <div *ngIf="selector=='1'" class="col-md-4 form-group">
      <!-- form-group// -->
      <input [(ngModel)]="day" type="date" name="somesome" class="form-control" id="dateday"
        placeholder="Appointment Date"> Selecciona sus citas por día
    </div><!-- form-group end.// -->
    <div class="text-center">
      <!-- form-group// -->
      <button class="buttonLOL" (click)="searchFormat()" type="submit">Buscar</button>
    </div><!-- form-group end.// -->

  </div>

</div>

<section class="doctors">
  <div class="container">
    <div class="row">
      <div *ngFor="let item of appointments" class="col-lg-6">
        <div class="member d-flex align-items-start hightlight" (click)="clickApppointment(item._id)">
          <div class="member-info">
            <h4>{{item.Date_S}}</h4>
            <h2>{{item.Hour_S}}</h2>
            <h3><b>Motivo:</b> {{item.Cause}}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="appointments.length == 0">
        <h1>Sin resultados, favor de realizar otra búsqueda</h1>
      </div>
    </div>
  </div>
</section>
