<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="#" id="login-form">
    <div class="heading">Login</div>
    <div class="left">
      <label for="email">Email</label> <br />
      <input type="email" name="email" id="email" /> <br />
      <label for="password">Password</label> <br />
      <input type="password" name="password" id="pass" /> <br />
      <input type="submit" value="Login" />
      <input style="margin-left: 10px;" type="submit" value="Register" />
    </div>
    <div class="right">
      <div class="connect">Connect with</div>
      <a href="" class="facebook">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a> <br />
      <a href="" class="google-plus">
        <fa-icon [icon]="faGoogle"></fa-icon>
      </a>
    </div>
  </form>  