<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form id="login-form" [formGroup]="form" (submit)="login()"> 
    <div class="heading">Ingresar</div>
    <div class="left">
      <label for="email">Correo Electrónico</label> <br />
      <input type="email" name="email" id="email" formControlName="email"/> <br />
      <label for="password">Contraseña</label> <br />
      <input type="password" name="password" id="pass" formControlName="password"/> <br />
      <input type="submit" [disabled]="form.invalid" value="Ingresar" />
      <a [routerLink]="['../register']"><input style="margin-left: 10px;" type="submit" value="Registro" /></a>
    </div>
    <div class="right">
      <div class="connect">Conectarse con</div>
      <a href="" class="facebook">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a> <br />
      <a href="" class="google-plus">
        <fa-icon [icon]="faGoogle"></fa-icon>
      </a>
    </div>
  </form>  