<div mat-dialog-content class="Modal">

  <div *ngIf="!appointment.Paid && !userType" class="">
    <article>
      <h1 class="card-title mt-3 text-center">Completar la cita</h1>
      <form [formGroup]="form" (submit)="modificarCita()">
        <div class="">
          <h3> <b>Paciente:</b> {{patient.Name}} {{patient.Last_name}}</h3>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <label for="input-file" style="border: 0; text-align: left;" class="btn btn-secondary form-control">Subir
            imagen</label>
          <input id="input-file" style="display: none;" formControlName="Images" type="file"
            (change)="onFileChange($event)">
        </div> <!-- form-group// -->
        <div class=" form-group input-group">
          <textarea formControlName="Description" name="" class="form-control"
            placeholder="Descripción de la cita"></textarea>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <!-- form-group// -->
          <select formControlName="Payment_type" name="Pago" class="form-control">
            <option disabled>Método de pago</option>
            <option value="Efectivo">Efectivo</option>
            <option value="Cheque nominativo">Cheque nominativo</option>
            <option value="Tarjeta de crédito">Tarjeta de crédito</option>
            <option value="Tarjeta de débito">Tarjeta de débito</option>
          </select>
        </div><!-- form-group end.// -->
        <div class="form-group input-group">
          <input formControlName="Amount" name="" class="form-control" placeholder="Costo" type="number" min="1">
        </div> <!-- form-group// -->
        <div class="form-group">
          <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-block"> Completar cita</button>
        </div> <!-- form-group// -->
      </form>
    </article>
  </div> <!-- card.// -->

  <div *ngIf="appointment.Paid">
    <h1>Datos de la cita</h1>
    <h3> <b>Paciente:</b> {{patient.Name}} {{patient.Last_name}}</h3>
    <h3> <b>Causa:</b> {{appointment.Cause}}</h3>
    <h3> <b>Descripión:</b> {{appointment.Description}}</h3>
    <h3> <b>Tipo de pago:</b> {{appointment.Payment_type}}</h3>
    <h3> <b>Costo:</b> {{appointment.Amount}}</h3>
    <img src="{{appointment.Images}}" alt="" style="width: 100%;">
  </div>

</div>
