<br>
<br>
<br>
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container-fluid">

    <div class="section-title">
        <h2>Sobre nosotros</h2>
      </div>

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
        <a href="https://www.youtube.com/watch?v=-I5fAzFRDgU" class="venobox play-btn mb-4" data-vbtype="video"
          data-autoplay="true"></a>
      </div>

      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>¿Cómo manejamos nuestras citas?</h3>
        <p>El odontólogo general hará una valoración básica de tu boca para poder definir qué herramientas (radiografías, muestras, etc.) necesitará para tu diagnóstico integral. El Centro de Diagnóstico establecerá el plan de tratamiento y la ruta ideal a seguir. Te explicaremos paso a paso los tratamientos que requieres para tener una Salud Dental Integral.</p>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Contamos con garantias</a></h4>
          <p class="description">Cuenta con la seguridad que sólo los mejores pueden otorgar en servicios dentales. La realización de todos los tratamientos en dentlab son supervisados por los más calificados odontólogos y especialistas. Si el resultado se desvía, contarás con nuestro respaldo y solución para los tratamientos en cobertura.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Beneficios de Nuestros Planes dentales</a></h4>
          <p class="description">Nuestra infraestructura de servicio y modelo de negocio nos permiten ofrecerte un producto de salud tangible que promueve la salud y el bienestar de sus beneficiarios.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Servicios incluidos</a></h4>
          <p class="description">Como parte fundamental de nuestra oferta de valor ponemos a disposición de nuestros clientes, la posibilidad de incluir en los planes dentales una gama de servicios con el objetivo de lograr en conjunto los niveles de utilización más altos posibles y así mejorar la salud dental de los beneficiarios.</p>
        </div>

      </div>
    </div>

  </div>
</section><!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container">

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="icofont-doctor-alt"></i>
          <span data-toggle="counter-up">85</span>
          <p>Doctors</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="icofont-patient-bed"></i>
          <span data-toggle="counter-up">18</span>
          <p>Departments</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-laboratory"></i>
          <span data-toggle="counter-up">8</span>
          <p>Research Labs</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-award"></i>
          <span data-toggle="counter-up">150</span>
          <p>Awards</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->
